pkgbase = featherlog-bin
	pkgdesc = A personal quest journal with a floating scroll (羽记)
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/muyuzhong/Featherlog
	arch = x86_64
	license = MIT
	makedepends = imagemagick
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = libgcc
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	optdepends = qt6-tools: KWin floating window support via qdbus6
	provides = featherlog
	conflicts = featherlog
	options = !strip
	options = !debug
	source = Featherlog-0.5.0-x86_64.AppImage::https://github.com/muyuzhong/Featherlog/releases/download/v0.5.0/Featherlog-0.5.0-x86_64.AppImage
	source = LICENSE-0.5.0::https://raw.githubusercontent.com/muyuzhong/Featherlog/v0.5.0/LICENSE
	sha256sums = 9adc61daaa4d8b94ae7ef9f47fe96ad4d371a3956a3b6de7c22b01a306dd0fd7
	sha256sums = 869313596787f2dfd98d34c7c9d3c000f263bfe3b09162654de7aa1d054e3cda

pkgname = featherlog-bin
